<div class="container">
  <div class="row">
    <div class="col">
      <div class="panel panel-ext">
        <div class="panel-heading">
          <div class="panel-title">
            <%= @client.name %>
          </div>
          <div class="panel-header">
            <h2>
              <%= t(:label_search_statement_period) %>
            </h2>
          </div>
        </div>
        <div class="panel-body">
          <%= form_tag(client_client_statements_generate_path, method: :get, remote: true) do %>
            <div class="form-group">
              <label>
                <%= t(:label_date_start) %>
              </label>
              <%= date_field_tag(:start_date, params[:start_date]) %>
            </div>
            <div class="form-group">
              <label>
                <%= t(:label_date_end) %>
              </label>
              <%= date_field_tag(:end_date, params[:end_date]) %>
            </div>
            <div class="btn-group">
              <%= button_tag(ficon('search', t(:label_search_short)), type: :submit, name: nil, class: 'btn btn-primary') %>
              <%= button_tag(ficon('rotate-left', t(:label_reset)), type: :reset, name: nil, class: 'btn btn-warning') %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" id="aj-statement-view"></div>
  </div>
</div>
