<div class='row'>
  <div class='col-12'>
    <div id='search_box' class='card'>
      <div class='card-header'>
        <%= content_tag :h3, t(:label_search_short) %>
      </div>
      <div class='card-body'>
        <%= form_tag accounts_receivable_search_path, method: :post, remote: true, class: 'form-inline' do %>
          <div class='row'>
            <div class='form-group'>
              <%= label_tag :start_date, t(:label_start_date) %>
              <%= date_field_tag :start_date %>
            </div>
            <div class='form-group'>
              <%= label_tag :end_date, t(:label_end_date) %>
              <%= date_field_tag :end_date %>
            </div>
            <div class='form-group'>
              <%= submit_tag t(:label_search_short), class: 'btn btn-primary'  %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class='row' id='result_box'>
</div>
