<%= render partial: 'shared/error_form_uc', locals: { result: @client_rate, object_name: ClientRate.model_name.human, object_action: form_action } %>
<%= form_for [@client, @client_rate] do |f|%>
    <div class='row'>
        <%= render_field_group f, Rate.model_name.human,
            [{label: :rate_id, name: :rate_id, type: :collection_select,
                ext_params: { collection: Rate.where(current: true), value_method: :id, text_method: :rate}},
            {label: :current, name: :current, type: :check_box}] %>
        <%= render_field_group f, t(:label_dates),
            [{label: :date_implemented, name: :date_implemented, type: :date_field},
             {label: :date_retired, name: :date_retired, type: :date_field, options: {include_blank: true}}] %>
    </div>
    <%= render_actions f, clients_show2_path(@client) %>
<% end %>

