<h1>Listing <%= ContactEmail.model_name.human%> for <%= @contact.fname %> <%= @contact.lname %></h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_emails.each do |contact_email| %>
      <tr>
        <td><%= contact_email.address %></td>
        <td><%= link_to 'Show', contact_contact_email_path(@contact, contact_email.id )%></td>
        <td><%= link_to 'Edit', edit_contact_contact_email_path(@contact,contact_email) %></td>
        <td><%= link_to 'Destroy', contact_contact_email_path(@contact, contact_email.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact email', new_contact_contact_email_path %>
